.header{
    display: flex;
    flex-direction: column;
    background-color: red;
    
}
.menu{
    display: flex;
    margin-top: 1%;
    position: absolute;
    color: white
}
.menu ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
    
}
.ul-1{
    margin: 0px 0px;
    padding-left: 400px;
    
}
.ul-1 li{
    border-right: 1px solid white;
}
.ul-2{
    
    margin: 0px 0px;
    padding-left: 280px;
}
.ul-2 li{
    border-left: 1px solid white;
}
