.header{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    margin-top: 1%;
    position: absolute;
    color: white
}
.menu ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
    
}
.ul-1{
    margin: 0px 0px;
    padding-left: 400px;
    
}
.ul-1 li{
    border-right: 1px solid white;
}
.ul-2{
    
    margin: 0px 0px;
    padding-left: 280px;
}
.ul-2 li{
    border-left: 1px solid white;
}
.top{
    display: flex;
    position:absolute;
    background-color: rgb(8, 8, 90);
    padding-right: 240px;
    margin-top: 27%;
    margin-left: 26%;
}
.left{
    display: flex;
    flex-direction: column;
}
.left-2{
    margin-top: 3%;
}
.center{
    position: absolute;
    margin-left: 25%;
}
.right{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}
.right-2{
    margin-top: 3%;
}
.content-left{
    position:absolute;
    margin-top: 43%;
    margin-left: 26%;
}
.b-1{
    position: absolute;
}
.b-2{
    position: absolute;
    display: flex;
    margin-left: 3%;
}
.b-2-1{
    padding-right: 40px;
    margin-top: 4%;
    color: rgb(175, 175, 11);
}
.p{
    color: white;
}
.c{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background-color: MidnightBlue;
}
.big-box{
    background-color: white;
    margin: 0px 7px;
    margin-bottom: 7px;
}
.c-1{
    display:flex;
}
.c-1-2{
    margin-left: 20px;
}
.text-1{
    border-left: 5px solid rgb(155, 0, 0);
    padding-left: 10px;
    color: rgb(155, 0, 0);
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.text-2{
    font-size: 14px;
    color:gray;
    margin: 5px 0px;
}
.text-3{
    font-size: 17px;
    color: rgb(83, 82, 82);
}
.c-2{
    display:flex;
    margin: 30px 0px;
}
.c-2-2{
    margin-left: 20px;
}
.text-4{
    border-left: 5px solid rgb(155, 0, 0);
    padding-left: 10px;
    color: rgb(155, 0, 0);
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.text-5{
    font-size: 14px;
    color:gray;
    margin: 5px 0px;
}
.text-6{
    font-size: 17px;
    color: rgb(83, 82, 82);
}
.c-3{
    display:flex;
}
.c-3-2{
    margin-left: 20px;
}
.text-7{
    border-left: 5px solid rgb(155, 0, 0);
    padding-left: 10px;
    color: rgb(155, 0, 0);
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.text-8{
    font-size: 14px;
    color:gray;
    margin: 5px 0px;
}
.text-9{
    font-size: 17px;
    color: rgb(83, 82, 82);
}
.border{
    border: 5px solid rgb(141, 141, 26);
    margin-left: 20px;
}
.c-4{
    display:flex;
    margin-bottom: 3%;
    margin-top: 7%;
    font-size: 13px;
}
.c-4-1{
    margin-left: 66%;
    margin-right: 2%;
    background-color: rgb(0, 0, 100);
    color: gray;
    padding: 13px 7px;
    border: 5px solid rgb(202, 202, 202);
}
.c-4-2{
    background-color: rgb(0, 0, 100);
    color: gray;
    padding: 13px 7px;
    border: 5px solid rgb(202, 202, 202);
}
.content-right{
    position: absolute;
}
.img-right{
    margin-top: 655px;
    margin-left: 1135px;
    padding: 7px 7px;
    background-color: black;
}
.img-bot{
    margin-top: 34%;
    position:absolute;
}
.on{
    display: flex;
    position:absolute;
    margin-left: 26%;
    margin-top: 40%;
}
.e{
    text-align: center;
    margin-left: 50px;
    margin-top: 15px;
}
.e-1{
    display: flex;
    margin-left: 35%;
}
.e-1-1{
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0px 7px;
    padding: 0px 7px;
}

