.header{
    display: flex;
    flex-direction: column;
    background-color: red;
    
}
.menu{
    display: flex;
    margin-top: 1%;
    position: absolute;
    color: white
}
.menu ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
    
}
.ul-1{
    margin: 0px 0px;
    padding-left: 400px;
    
}
.ul-1 li{
    border-right: 1px solid white;
}
.ul-2{
    
    margin: 0px 0px;
    padding-left: 280px;
}
.ul-2 li{
    border-left: 1px solid white;
}
.top{
    display: flex;
    position:absolute;
    background-color: rgb(8, 8, 90);
    padding-right: 240px;
    margin-top: 27%;
    margin-left: 26%;
}
.left{
    display: flex;
    flex-direction: column;
}
.left-2{
    margin-top: 3%;
}
.center{
    position: absolute;
    margin-left: 25%;
}
.right{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}
.right-2{
    margin-top: 3%;
}
.content-left{
    position:absolute;
    margin-top: 43%;
    margin-left: 26%;
}
.b{
    background-color: black;
}
.b ul li{
    list-style: none;
    float: left;
}
